:root {


  /* Key */
  --color-unchecked: #ffffff;
  --color-checked: #6200EE;

  --color-unchecked-hover: #f0f0f0;
  --color-checked-hover: #3700B3;


  --key-disabled: #f5f5f5;
  --track-disabled: #f0f0f0;


  --color-unchecked-disabled: var(--key-disabled);
  --color-checked-disabled: var(--key-disabled);


  --track-unchecked: #e0e0e0;
  --track-checked: #dbcbfd;

  --track-checked-hover: #d1c4e9;
  --track-unchecked-hover: #e0e0e0;


  --border-color: #888888;
  --border-color-hover: #6200EE;


  /*  --outline-color-focused: #6200EE; */
  --outline-color-focused: #000000;


  --border-width-md: 2px;
  --border-width-lg: 2px;


  --disabled-opacity: 0.5;
}
