:root {
  /* cores */
  --primitive-purple-500: #6200EE;
  --primitive-purple-700: #3700B3;


  --primitive-purple-50: #F0F7FF;
  --primitive-purple-200: #DBCBFD;
  --primitive-purple-300: #D1C4E9;

  --primitive-red-500: #B00020;


  --primitive-neutral-000: #FFFFFF;
  --primitive-neutral-100: #F5F5F5;
  --primitive-neutral-200: #E0E0E0;
  --primitive-neutral-300: #BDBDBD;
  --primitive-neutral-400: #A3A3A3;
  --primitive-neutral-500: #888888;
  --primitive-neutral-900: #333333;


  --primitive-black: #000000;
  --primitive-transparent: transparent;


  --bg-default: var(--primitive-neutral-100);
  --bg-paper: var(--primitive-neutral-000);
  --bg-disabled: var(--primitive-neutral-200);

  /* ações */
  --action-primary-enabled: var(--primitive-purple-500);
  --action-primary-hover: var(--primitive-purple-700);
  --action-primary-subtle: var(--primitive-purple-50);
  --action-disabled: var(--primitive-neutral-300);

  /* cores de texto */
  --text-primary: var(--primitive-neutral-900);
  --text-secondary: var(--primitive-neutral-500);
  --text-placeholder: var(--primitive-neutral-400);
  --text-disabled: var(--primitive-neutral-300);

  /* texto em fundo de marca */
  --text-on-brand: #ffffff;
  --text-brand: var(--action-primary-enabled);

  /* bordas */
  --border-default: var(--primitive-neutral-500);
  --border-hover: var(--action-primary-enabled);
  --border-focus:   var(--action-primary-enabled);
  --border-error:   var(--primitive-red-500);
  --border-width-sm: 1px;
  --border-width-md: 2px;

  /* Opacity */
  --opacity-disabled: 0.5;

  /* foco (a11y) */
  --focus-ring-color: #000;
  --focus-ring-gap: #fff;

  /* tipografia */
  --font-family-base: 'Inter', sans-serif;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* espaçamentos */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
}
